@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
}
* ::-webkit-scrollbar {
  /* theme("colors.slate.100") */
  background-color: rgb(241 245 249);
  opacity: 1;
  width: 5px;
  height: 5px;
}
* ::-webkit-scrollbar-thumb {
  /* theme("colors.slate.300") */
  background-color: rgb(203 213 225);
  opacity: 1;
  border-radius: 3px;
}

.dark * ::-webkit-scrollbar {
  background-color: rgba(241, 245, 249, 0.1);
}

.dark * ::-webkit-scrollbar-thumb {
  background-color: rgba(203, 213, 225, 0.3);
}


* ::-webkit-scrollbar-button {
  display: none;
}

@keyframes bounce {
  0% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(3px);
  }
}

@keyframes move_down_fade {
  0% {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}
