* {
  scrollbar-width: thin;
}
* ::-webkit-scrollbar {
  background-color: #eee;
  width: 5px;
  height: 5px;
}
* ::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 3px;
}
* ::-webkit-scrollbar-button {
    display: none;
}
